@page
@model ProiectMedii.Pages.Modele.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Clasa_model</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Clasa_model.Model" class="control-label"></label>
                <input asp-for="Clasa_model.Model" class="form-control" />
                <span asp-validation-for="Clasa_model.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clasa_model.AgentID" class="control-label">Agent</label>
                <select asp-for="Clasa_model.AgentID" class="form-control" asp-items="ViewBag.AgentID">
                    <option value="">-- Select Agent --</option>
                </select>
                <span asp-validation-for="Clasa_model.AgentID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Clasa_model.Pret" class="control-label"></label>
                <input asp-for="Clasa_model.Pret" class="form-control" />
                <span asp-validation-for="Clasa_model.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clasa_model.DataPublicarii" class="control-label"></label>
                <input asp-for="Clasa_model.DataPublicarii" class="form-control" />
                <span asp-validation-for="Clasa_model.DataPublicarii" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clasa_model.BrandID" class="control-label">Nume Brand</label>
                <select asp-for="Clasa_model.BrandID" class="form-control" asp-items="ViewBag.BrandID">
                </select>
                <span asp-validation-for="Clasa_model.BrandID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
